<li class='product-list <%type%> product-id-<%id%>' index-list='<%index_list%>' productId='<%id%>' >
	<div class='inactive'></div>
	<div class='hover'></div>
	<span href='/product/<%product_url%>'>
	<div class='image-container'>
	<img width='200' class='no-loaded' src='<%init_folder%><%thumbnail_path%>' valign='baseline' />
	</div>
	<div class='product-name'> <%name%> </div>
	<div class='product-price'><span class='currency-symbol'><%currency%></span> <span class='price'><%price%></span><span class='price-decimal'>,<%price_decimal%></span></div>
	<div class='no-stock-container'></div>
	</span>
</li>