/**
 * aigechibaole.com
 */
 
.page .cart-banner {
	width: 100%;
	height: 300px;
	background: url(../images/cart_banner_bg.png) 0px 0px repeat-x;
}


.page .cart-banner .user-info {
	padding: 20px 0px
}
.page .cart-banner .recharge {
	width: 98px;
	height: 40px;
	border: 0px;
	background: url(../images/recharge.png) 0px 0px;
}

.page .cart-banner .manage-address {
	width: 120px;
	height: 40px;
	border: 0px;
	border: 1px;
	
	margin-right: 64px;
}

.page .content .block .body .cart-checkbox {
	width: 36px;
	height: 36px;
	background: url(../images/no.png) 0px 0px;
}

.page .content .block .body .tr-clear {
	height: 36px;
}

.quantity div {
	height: 18px;
	float: left;
	padding-left: 2px;
}

.quantity input {
	width: 30px;
	height: 18px;
	line-height: 18px;
	float: left;
	padding: 0px 2px;
	text-align: center;
	ime-mode: disabled;
	border: 1px solid #dbdbdb;
}

.increase {
	width: 18px;
	height: 7px;
	display: block;
	clear: both;
	margin-bottom: 2px;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	background: url(/assets/v2/shop/images/cart.gif) 0px -120px #f9f9f9 no-repeat;
}

.decrease {
	width: 18px;
	height: 7px;
	display: block;
	clear: both;
	cursor: pointer;
	overflow: hidden;
	border: 1px solid #dbdbdb;
	background: url(/assets/v2/shop/images/cart.gif) -30px -120px #f9f9f9 no-repeat;
}

div.cart-total {
	padding: 10px 0px;
	margin-bottom: 10px;
	text-align: right;
}

div.cart-total em {
	margin-right: 14px;
	color: #ff6600;
	font-style: normal;
}

#invoice td {
    line-height: 30px;
    padding: 6px;
}
