<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
			 http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd" version="2.0">

	<persistence-unit name="persistenceUnit" transaction-type="RESOURCE_LOCAL">
		<class>net.shopxx.entity.Ad</class>
		<class>net.shopxx.entity.Admin</class>
		<class>net.shopxx.entity.AdPosition</class>
		<class>net.shopxx.entity.Area</class>
		<class>net.shopxx.entity.Article</class>
		<class>net.shopxx.entity.ArticleCategory</class>
		<class>net.shopxx.entity.Attribute</class>
		<class>net.shopxx.entity.Brand</class>
		<class>net.shopxx.entity.Cart</class>
		<class>net.shopxx.entity.CartItem</class>
		<class>net.shopxx.entity.Consultation</class>
		<class>net.shopxx.entity.Coupon</class>
		<class>net.shopxx.entity.CouponCode</class>
		<class>net.shopxx.entity.DeliveryCenter</class>
		<class>net.shopxx.entity.DeliveryCorp</class>
		<class>net.shopxx.entity.DeliveryTemplate</class>
		<class>net.shopxx.entity.Deposit</class>
		<class>net.shopxx.entity.FriendLink</class>
		<class>net.shopxx.entity.GiftItem</class>
		<class>net.shopxx.entity.Goods</class>
		<class>net.shopxx.entity.Log</class>
		<class>net.shopxx.entity.Member</class>
		<class>net.shopxx.entity.MemberAttribute</class>
		<class>net.shopxx.entity.MemberRank</class>
		<class>net.shopxx.entity.Message</class>
		<class>net.shopxx.entity.Navigation</class>
		<class>net.shopxx.entity.Order</class>
		<class>net.shopxx.entity.OrderItem</class>
		<class>net.shopxx.entity.OrderLog</class>
		<class>net.shopxx.entity.Parameter</class>
		<class>net.shopxx.entity.ParameterGroup</class>
		<class>net.shopxx.entity.Payment</class>
		<class>net.shopxx.entity.PaymentMethod</class>
		<class>net.shopxx.entity.PluginConfig</class>
		<class>net.shopxx.entity.Supplier</class>
		<class>net.shopxx.entity.Product</class>
		<class>net.shopxx.entity.ProductCategory</class>
		<class>net.shopxx.entity.ProductNotify</class>
		<class>net.shopxx.entity.Promotion</class>
		<class>net.shopxx.entity.Receiver</class>
		<class>net.shopxx.entity.Refunds</class>
		<class>net.shopxx.entity.Returns</class>
		<class>net.shopxx.entity.ReturnsItem</class>
		<class>net.shopxx.entity.Review</class>
		<class>net.shopxx.entity.Role</class>
		<class>net.shopxx.entity.Seo</class>
		<class>net.shopxx.entity.Shipping</class>
		<class>net.shopxx.entity.ShippingItem</class>
		<class>net.shopxx.entity.ShippingMethod</class>
		<class>net.shopxx.entity.Sn</class>
		<class>net.shopxx.entity.Specification</class>
		<class>net.shopxx.entity.SpecificationValue</class>
		<class>net.shopxx.entity.Tag</class>
		<class>net.shopxx.entity.PlatformPayment</class>
		<class>net.shopxx.entity.Cooperation</class>
	</persistence-unit>
</persistence>