/**
 * aigechibaole.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0px;
	margin: 0px;
	border: 0px;
	outline: 0px;
}

html {
	_width: 100%;
	_height: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	_filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

body {
	_width: 100%;
	_height: 100%;
	//min-width: 1000px;
	_width: expression(document.body.clientWidth <= 1000 ? "1000px": "auto");
	font: 12px tahoma, Arial, Verdana, sans-serif;
	color: #666666;
	background-color: #EEEEEE;
	_background-image: url(about: blank);
	_background-attachment: fixed;
	font-family: "Microsoft YaHei";
}

button {
	cursor: pointer;
}

button, select {
    text-transform: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.page {
	width: 100%;
	height: 100%;
}

.page .topnav {
	width: 100%;
	height: 60px;
	background: url(../images/top_nav_bg.png) 0px 0px repeat-x;
}

.page .banner {
	width: 100%;
	height: 742px;
	background: url(../images/banner_bg.png) 0px 0px;
}

.page .head .login-form {
	display: none;
	width: 100%;
	height: 60px;
	z-index: 100;
	filter:alpha(Opacity=80);
	-moz-opacity:0.5;
	opacity: 0.5;
	background:#000;
}

.page .head .login-form .text {
	width: 200px;
	height: 36px;
}

.page .head .login-form .submit {
	width: 100px;
	height: 36px;
	background: url(../images/submit_01.png) 0px 0px;
	border: 0 none;
}

.page .head .login-form td {
	vertical-align: middle;
}

.page .head .login-form  font {
	font-size: 20px;
}

.page .banner .register {
	width: 704px;
	height: 100px;
	padding: 492px 345px 125px 300px;
	filter:alpha(Opacity=80);
	-moz-opacity:0.5;
	opacity: 0.5;
	background:#000;
}

.page .banner .register input {
	width: 540px;
	height: 60px;
	font-size: 45px;
	padding: 20px;
}

.page .banner .register .register_button {
	width: 104px;
	height: 60px;
	padding: 20px;
	background: url(../images/register_button.png) 0px 0px;
}

.page .banner .app {
	width: 600px;
	height: 100px;
	padding: 650px 350px;
}

.page .banner .app table  td{
	text-align: center;
}

.topnav .logo {
	float:left;
	margin-left: 168px;
}

.topnav .ctl {
	height: 100%;
	float:right;
}

.topnav .ctl  .user{
	line-height:60px;
	float:right;
	margin-right: 60px;
	font-size: 14px;
	color: #FFFFFF;
}

.page .content{
	width: 100%;
}

.title_head {
	width: 6px;
	height: 50px;
	background-color: #FDA617;
	float:left;
}

.internal{
	width: 30px;
}

.product .pic{
	padding: 4px 4px 4px 4px
}

.product .pic img {
	width: 330px;
	height: 328px;
}

.product .title{
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}

.product .price{
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
}

.features .feature {
	margin-top: 60px;
	width: 342px;
	height: 364px;
}

.features .internal{
	width: 30px;
}

.features .feature .pic{
	text-align: center;
}

.features .feature .title{
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}

.features .feature .desc{
	margin-top: 10px;
	text-align: center;
	font-size: 18px;
}

.page .content .about{
	margin-top: 60px;
	margin-left: 170px;
	margin-right: 170px;
}

/*--------------------------------------------------------------------*/
/*-							block									 -*/
/*--------------------------------------------------------------------*/

.page .content .block {
	margin-top: 20px;
	margin-left: 170px;
	margin-right: 170px;
}

.page .content .block .title_head {
	width: 6px;
	height: 50px;
	background-color: #FDA617;
	float:left;
}

.page .content .block .title {
	line-height:50px;
	width: 100%;
	height: 50px;
	background-color:#242424;
	font-size: 18px;
}

.page .content .block .name {
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}

.page .content .block .body {
	width: 100%;
	margin-top: 20px;
	overflow:hidden;
}

/*--------------------------------------------------------------------*/
/*-							big-block								 -*/
/*--------------------------------------------------------------------*/

.page .content .big-block {
	margin-left: 0px;
	margin-right: 0px;
}

.page .content .big-block .title_head {
	width: 6px;
	height: 50px;
	background-color: #FDA617;
	float:left;
}

.page .content .big-block .title {
	line-height:50px;
	width: 100%;
	height: 50px;
	background-color:#242424;
	font-size: 18px;
}

.page .content .big-block .name {
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}

.page .content .big-block .body {
	width: 100%;
	margin-top: 20px;
	overflow:hidden;
}


/*------------------------------------------------------------------*/
/*					product											*/
/*------------------------------------------------------------------*/
.view {
	width: 1210px;
	padding-left: 5px;
	padding-right: 5px;
}

.product {
	width: 320px;
	min-height: 360px;
	position: relative;
	float: left;
	padding: 0;
	//margin: 0;
	//margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 60px;
	line-height: 1.5;
	overflow: visible;
	z-index: 1;
	//border: 4px solid red;
}

.product-iWrap {
	min-height: 98%;
	_height: expression(function(el){if(/msie 6/i.test(navigator.userAgent)){var threshold=98*el.parentNode.scrollHeight/100;el.style.height=(threshold==0||el.scrollHeight<threshold)?threshold||'98%':'auto';}}(this));
	width: 100%;
	position: absolute;
	background-color: #fff;
	margin: 0;
	padding: 4px;
	padding-bottom: 0;
	font-size: 0;
	border: 1px solid #f5f5f5;
	border-radius: 3px;
}

.product-iWrap * {
	font-size: 12px;
}

.productImg-wrap {
	display: table;
	table-layout: fixed;
	height: 240px;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
	position: relative;
}

.productImg img {
	display: block;
	margin: 0 auto;
}

.productImg-wrap a, .productImg-wrap img {
	max-width: 100%;
	_width: expression(function(el){if(/msie 6/i.test(navigator.userAgent)){var threshold=100*el.parentNode.clientWidth/100;el.style.width=(threshold==0||el.clientWidth>threshold)?threshold||'100%':'auto';}}(this));
	height: 240px;
	_height: expression(function(el){if(/msie 6/i.test(navigator.userAgent))el.style.height=(el.scrollHeight>210)?'210px':'auto';}(this));
}

.productPrice {
	font-family: arial,verdana,sans-serif!important;
	color: #C00;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin: 0 0 5px;
	letter-spacing: normal;
	overflow: inherit!important;
	white-space: nowrap;
}

.productPrice, .productTitle, .productStatus, .productShop, .productIcons, .productAttrs {
	display: block;
	overflow: hidden;
	margin-bottom: 3px;
}

.productPrice i, .productPrice .tag {
	position: relative;
	top: 0;
	right: 0;
	float: right;
	width: 30px;
	height: 30px;
	background-position: center 0;
	margin-right: -6px;
}

.i-3c, .i-presell, .i-hwzhigou, .i-new, .i-zqg, .i-temai, .i-1111-5, .i-1111, .i-1212, .tag {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	position: absolute;
	top: -4px;
	left: 5px;
	width: 40px;
	height: 40px;
	//z-index: 1;
	box-shadow: 1px -2px 5px -2px rgba(0,0,0,.3);
}

.productPrice em {
	float: left;
	font-family: arial;
	font-weight: 400;
	font-size: 20px;
	color: #bc00000;
}

.productPrice em b {
	margin-right: 2px;
	font-weight: 700;
	font-size: 14px;
	vertical-align: middle;
}

.productPrice * {
	height: 30px;
}

.productPrice del {
	display: inline-block;
	margin-top: 2px;
	margin-left: 5px;
	font-weight: 400;
	color: #999;
	_margin-top: 2px;
	_margin-bottom: 0;
}

.productTitle {
	display: block;
	color: #666;
	height: 14px;
	line-height: 12px;
	margin-bottom: 3px;
	word-break: break-all;
	font-size: 0;
	position: relative;
}

.productTitle a:visited {
	color: #551A8B!important;
}

.productTitle a {
	color: #333;
}

.productTitle * {
	font-family: \5FAE\8F6F\96C5\9ED1;
	line-height: 14px;
}

.productTitle * {
	font-size: 12px;
}

.productTitle a .H, .productTitle a em {
	color: #C60;
}

span.H {
	float: none!important;
	display: inline!important;
}

.productShop {
	position: relative;
	height: 22px;
	line-height: 20px;
	margin-bottom: 5px;
	color: #999;
	white-space: nowrap;
	overflow: visible;
}

.productShop .productShop-name {
	float: left;
	display: block;
	line-height: 20px;
	height: 20px;
	max-width: 144px;
	_width: expression(function(el){if(/msie 6/i.test(navigator.userAgent))el.style.width=(el.clientWidth>144)?'144px':'auto';}(this));
	color: #999;
	text-decoration: underline;
	overflow: hidden;
	word-break: break-all;
}

.productShop .productShop-num {
	color: #999;
	padding: 0 1px;
	text-decoration: underline;
}

.productStatus {
	position: relative;
	height: 32px;
	border: 0;
	border-top: 1px solid #eee;
	margin-bottom: 0;
	color: #999;
}

.product .productStatus span {
	white-space: nowrap;
}

.productStatus span {
	float: left;
	display: inline-block;
	border-right: 1px solid #eee;
	width: 47%;
	padding: 10px 1px;
	margin-right: 6px;
	line-height: 12px;
	text-align: left;
	white-space: nowrap;
}

.productStatus .no-right-border {
	border-right: 0;
}

.productStatus em {
	color: #b57c5b;
}

.productStatus em, .productStatus a {
	margin-top: -8px;
	font-family: arial;
	font-size: 12px;
	font-weight: 700;
}

.page .footer{
	width: 100%;
	height: 100px;
	margin-top: 60px;
	background: url(/assets/v2/shop/images/footer_bg.png) 0px 0px repeat;
}

.page .footer .copyright{
	margin-left: 170px;
	padding: 60px 0;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #ff6600;
	text-decoration: none;
}

img {
	vertical-align: middle;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

ul {
	list-style-type: none;
}

input {
    outline: medium none;
    vertical-align: middle;
}

input.text {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    //background: url("../images/common.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #b8b8b8 #dcdcdc #dcdcdc #b8b8b8;
    border-image: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    height: 26px;
    line-height: 26px;
    padding: 0 4px;
    width: 220px;
}

input.text:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #74b9ef;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    transition: box-shadow 0.2s linear 0s;
}

textarea {
	outline: 0px;
	resize: none;
}

table.input th {
    color: #888888;
    font-weight: normal;
    line-height: 30px;
    padding: 4px 10px 4px 0;
    text-align: right;
    white-space: nowrap;
    width: 100px;
}

table.input td {
    line-height: 30px;
    padding: 4px;
}


input.button {
    padding: 0 10px;
}
input.button {
    background: url("/assets/v2/shop/images/common.gif") repeat-x scroll 0 -30px rgba(0, 0, 0, 0);
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    color: #646464;
    cursor: pointer;
    display: -moz-inline-stack;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
    outline: medium none;
    padding: 0 14px;
    text-shadow: 1px 1px #ffffff;
}


.receiver li {
    border: 1px solid #e4e4e4;
    cursor: pointer;
    float: left;
    height: 74px;
    margin-bottom: 6px;
    margin-right: 6px;
    overflow: hidden;
    padding: 7px;
    width: 230px;
}

.receiver li.selected {
    background: url("/assets/v2/shop/images/cart.gif") no-repeat scroll right bottom #fff5cc;
    border: 1px solid #fee580;
}

/* ---------- Base ---------- */

.black {
	color: black;
}

.white {
	color: white;
}

.gray {
	color: gray;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.hidden {
	display: none;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	height: 0px;
	display: block;
	clear: both;
	visibility: hidden;
	overflow: hidden;
	content: "\0020";
}

.dialogOverlay {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	_position: absolute;
	top: 0px;
	_top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);
	left: 0px;
	z-index: 99;
	filter: alpha(opacity = 30);
	-moz-opacity: 0.30;
	opacity: 0.30;
	zoom: 1;
	background: url(/assets/v2/shop/images/dialog_overlay.png);
}


/**
 * aigechibaole.com
 */
 
.page .user-banner {
	width: 100%;
	height: 300px;
	background: url(/assets/v2/shop/images/cart_banner_bg.png) 0px 0px repeat-x;
}


.page .user-banner .user-info {
	padding: 20px 0px
}
.page .user-banner .recharge {
	width: 98px;
	height: 40px;
	border: 0px;
	background: url(/assets/v2/shop/images/recharge.png) 0px 0px;
}

.page .user-banner .manage-address {
	height: 40px;
}

.page .content .block .body .cart-checkbox {
	width: 36px;
	height: 36px;
	background: url(/assets/v2/shop/images/no.png) 0px 0px;
}

.page .content .block .body .tr-clear {
	height: 36px;
}

.pager {
	text-align:center;
}

.pager ul li {
	display: inline;
	list-style-type: none;
	padding: 5px 5px;
	font-size: 18px;
	line-height:20px;
	font-family: "Microsoft YaHei";
	font-weight:bold;
	color:#FDA617;
}

.pager ul li .activied {
	color: white;
	background-color: #FDA617;
}


/***************************Login****************************/
.login {
	margin-top:0px;
}

div.login table {
	width: 100%;
	margin-top: 10px;
}

div.login th {
	width: 90px;
	padding: 12px;
	font-weight: normal;
	text-align: right;
}

div.login input.text {
	width: 220px;
	height: 26px;
	line-height: 26px;
	padding: 0px 4px;
	color: #666666;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid;
	border-color: #b8b8b8 #dcdcdc #dcdcdc #b8b8b8;
	background: url(/assets/v2/shop/images/common.gif) 0px 0px no-repeat;
}

div.login .submit {
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(/assets/v2/shop/images/login.gif) 0px 0px no-repeat;
}

div.login .main {
	border: 1px solid #242424;
	position: relative;
}

div .login ul li {
	display: inline;
	list-style-type: none;
	padding: 5px 5px;
	font-size: 18px;
	line-height:20px;
	font-family: "Microsoft YaHei";
	font-weight:bold;
	color:#FDA617;
}


/***************************Register****************************/

.register {
	margin-top:0px;
}

div.register .main {
	border: 1px solid #242424;
	position: relative;
}

div.register .title {
	height: 40px;
	line-height: 40px;
	color: #d8d8d8;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dotted #ededed;
}

div.register .title strong {
	padding: 0px 10px;
	color: #3164af;
	font-size: 18px;
	font-weight: normal;
}

div.register table {
	width: 100%;
	margin-top: 10px;
}

div.register th {
	width: 90px;
	padding: 12px;
	font-weight: normal;
	text-align: right;
}

div.register .captcha {
	width: 130px;
	text-transform: uppercase;
	ime-mode: disabled;
}

div.register .captchaImage {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}

div.register .submit {
	width: 142px;
	height: 37px;
	line-height: 37px;
	margin-top: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/register.gif) 0px 0px no-repeat;
}

div.register .agreement {
	height: 96px;
	line-height: 24px;
	padding: 0px 4px;
	color: #999999;
	overflow-y: scroll;
	border: 1px solid #e6e6e6;
}
 
.page .user-banner {
	width: 100%;
	height: 300px;
	background: url(../images/cart_banner_bg.png) 0px 0px repeat-x;
}


.page .user-banner .user-info {
	padding: 20px 0px
}
.page .user-banner .recharge {
	width: 98px;
	height: 40px;
	border: 0px;
	background: url(../images/recharge.png) 0px 0px;
}

.page .user-banner .manage-address {
	height: 40px;
	border: 0px;
	border: 1px;
}

.page .content .block .body .cart-checkbox {
	width: 36px;
	height: 36px;
	background: url(../images/no.png) 0px 0px;
}

.page .content .block .body .tr-clear {
	height: 36px;
}

div.register .agreement {
	height: 96px;
	line-height: 24px;
	padding: 0px 4px;
	color: #999999;
	overflow-y: scroll;
	border: 1px solid #e6e6e6;
}

div.register .submit {
	width: 142px;
	height: 37px;
	line-height: 37px;
	margin-top: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	border: none;
	background: url(../images/register.gif) 0px 0px no-repeat;
}


table.list {
    width: 100%;
}

div.list p {
    color: #999999;
    padding: 10px 0;
    text-align: center;
}

table.list th {
    background: url("/assets/v2/shop/images/member.gif") repeat-x scroll 0 -120px rgba(0, 0, 0, 0);
    border-color: #e4e4e4 #f1f1f1;
    border-style: solid;
    border-width: 1px;
    color: #888888;
    font-weight: normal;
    height: 30px;
    padding: 0 4px;
    text-align: left;
    white-space: nowrap;
}

table.list td {
    border-bottom: 1px solid #f1f1f1;
    line-height: 28px;
    padding: 6px 6px 6px 0;
}

table.input {
    width: 100%;
}

div.input {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 0 10px 10px;
}

.paymentPlugin {
	width: 100%;
	line-height: 30px;
	margin-bottom: 10px;
}

.paymentPlugin td {
	padding: 4px;
	border: none;
	background-color: #fef7e4;
}

.paymentPlugin input {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 6px;
	margin-top: 9px;
}

.paymentPlugin em {
	width: 80px;
	height: 30px;
	display: block;
	float: left;
	padding: 2px 8px;
	font-style: normal;
	overflow: hidden;
	cursor: pointer;
	border: solid 1px #dddddd;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
}

.order_item img {
	width:120px;
	height:120px;
}

/* ---------- Message ---------- */

div.xxMessage {
	padding: 10px 30px;
	display: none;
	position: fixed;
	_position: absolute;
	top: 25%;
	_top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + "px");
	left: 50%;
	z-index: 100;
	overflow: hidden;
	-webkit-box-shadow: 1px 1px 6px #999999;
	-moz-box-shadow: 1px 1px 6px #999999;
	box-shadow: 1px 1px 6px #999999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3)";
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=0,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=90,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4,direction=180,strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5,direction=270,strength=3);
	border: 1px solid #999999;
	background-color: #ffffff;
}

div.xxMessage .messageContent {
	line-height: 24px;
	padding: 0px 10px 0px 30px;
	color: #666666;
}

div.xxMessage .messagewarnIcon {
	background: url(/assets/v2/shop/images/common.gif) -60px -330px no-repeat;
}

div.xxMessage .messagesuccessIcon {
	background: url(/assets/v2/shop/images/common.gif) -30px -360px no-repeat;
}

div.xxMessage .messageerrorIcon {
	background: url(/assets/v2/shop/images/common.gif) 0px -390px no-repeat;
}

div.xxMessage .messageIframe {
	width: 2000px;
	height: 2000px;
	position: absolute;
	left: -100px;
	top: -100px;
	z-index: -1;
}