<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="web-mosaic" xmlns:fb="http://www.facebook.com/2008/fbml"><!--<![endif]-->
	<head>
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	    <meta http-equiv="imagetoolbar" content="no" />
	
	    <title>TODO</title>
	    <meta name="description" content=TODO" />
	
	    <link rel="shortcut icon" type="image/png" href="/assets/front/images/favicon.ico">
	    
	    <meta name="google-site-verification" content="j3poyRgewEFdKoXOP3IpCYuNwnE_F7vWZ5y2PaeGAO4" />
	    <meta name="google-site-verification" content="J9UbJ_bwjF6uOUcY5ts9OwrhlstN11-VwBa2jneLykQ" />
	
	    <meta property="fb:app_id" content=""/>
	    <meta property="og:site_name" content=""/>
	    <meta property="og:title" content=""/>
	    <meta property="og:description" content="" />
	    <meta property="og:image" content="" />
	    <meta property="og:url" content="" />
	    <meta property="og:type" content="website" />
	
	    <meta name="apple-itunes-app" content="app-id=363337072, affiliate-data=partnerId=30&siteID=OTlldGRU4uo">
	    <link rel="apple-touch-icon" href="/assets/front/images/apple-touch-icon.png"/>
	    <link rel="apple-touch-icon" sizes="72x72" href="/assets/front/images/apple-touch-icon-72x72.png"/>
	    
	    <link rel="stylesheet" href="/assets/front/css/default.min.css">
	    
	    <script src="/assets/front/js/modernizr.js"></script>
	
	    <!--[if !(IE 7)]><!-->
		<script>
  			(function () {
    			var head = document.getElementsByTagName('head')[0],scriptTag = document.createElement('script');
			    scriptTag.src = '//cdn.optimizely.com/js/37462882.js';
			    scriptTag.async = true,
			    scriptTag.defer = true;
    			head.parentNode.insertBefore(scriptTag, head);
  			}());

  			(function () {
     			setTimeout(function() {
      				window.optimizely = window.optimizely || [];
			      	if (!window.optimizely.data) {
			        	window.optimizely.push("disable");
			     	}
    			}, 3000);
  			}());
		</script>
		<!--<![endif]-->
  	</head>

  	<body class="women ">
    	<script src="/assets/front/js/browser_detect.js"></script>
    	<div id="fb-root"></div>
    	
  		#parse("front/header.vm")
		#parse("front/announcement.vm")
		
  		<section class="main login-reg-wall" >
  			
			<a class="sale-link" data-gilt-tracking="true" href="/sale/women/transitional-scarves">
				<section class="hero" style="background-image:url(/assets/front/images/orig.jpg);">
					<article class="sale" data-gilt-sale-id="1022548026">
	        			<header class="sale-header">
			             	<h1 class="sale-name h1 highlight" style="color:#000000">
			                 	Scarves to Wear Now &amp; Later
			             	</h1>
	             			<p class="copy" style="color:#000000">We've got you covered with super-soft, everyday wraps</p>
	             			<span class="button tint">Shop this Sale</span>
	        			</header>
	    			</article>
				</section>
			</a>
			
			<!--新品-->
			<section class="sales-container">
    			<section class="sales-shop-by-age-promo-container">
    				<!--优惠轮播-->
					<section class="sales-promos-container">
    					<div class="carousel-wrapper">
      						<ul class="promos carousel">
        						<li class="promo">
    								<a href="http://www.gilt.com/sale/women/alice-olivia-4421" data-gilt-tracking="true" target="">
        								<img class="promo-image" src="http://assets4.giltcdn.com/a/img/web-mosaic/0.0.93/src/spacer.gif" data-img-src="http://cdn1.giltcdn.com/images/share/uploads/0000/0003/0080/300805712/orig.jpg" alt="" />
    								</a>
								</li>
        						<li class="promo">
    								<a href="http://www.gilt.com/sale/children?opromo=kidsbacktoschoolwomen2_81420131200-81620131200&amp;ocat=&amp;ocl=women" data-gilt-tracking="true" target="">
        								<img class="promo-image" src="http://assets4.giltcdn.com/a/img/web-mosaic/0.0.93/src/spacer.gif" data-img-src="http://cdn2.giltcdn.com/images/share/uploads/0000/0003/0076/300768573/orig.jpg" alt="" />
    								</a>
								</li>
        						<li class="promo">
								    <a href="http://www.gilt.com/sale/men/ag-jeans-7687" data-gilt-tracking="true" target="">
								        <img class="promo-image" src="http://assets4.giltcdn.com/a/img/web-mosaic/0.0.93/src/spacer.gif" data-img-src="http://cdn1.giltcdn.com/images/share/uploads/0000/0003/0080/300804532/orig.jpg" alt="" />
								    </a>
								</li>
        						<li class="promo">
								    <a href="http://www.gilt.com/account/invite" data-gilt-tracking="true" target="_blank">
								        <img class="promo-image" src="http://assets4.giltcdn.com/a/img/web-mosaic/0.0.93/src/spacer.gif" data-img-src="http://cdn2.giltcdn.com/images/share/uploads/0000/0003/0080/300807137/orig.jpg" alt="" />
								    </a>
								</li>
      						</ul>
      						<button class="carousel-control carousel-control-next"></button>
      						<button class="carousel-control carousel-control-previous"></button>
						    <div class="carousel-pagination">
						    	<a href="#" class="carousel-page-indicator active">X</a>
						        <a href="#" class="carousel-page-indicator">o</a>
						        <a href="#" class="carousel-page-indicator">o</a>
						        <a href="#" class="carousel-page-indicator">o</a>
						    </div>
    					</div>
  					</section>
					<!--优惠轮播 end-->
    			</section>
    			
    			<section class="new-sales">
    				
        			<article class="sale " data-gilt-sale-id="66833424609722113">
    					<a class="sale-link" data-gilt-tracking="true" href="/personal/sale/66833424609722113" >
    						<header class="sale-header">
        						<h1 class="sale-name h1 highlight">
            						<span class="name">BLANKNYC &amp; More</span>
        						</h1>
    						</header>

						    <figure class="sale-image-container ">
						        <img src="http://cdn1.giltcdn.com/images/share/uploads/0000/0003/0006/300065408/orig.jpg" alt="" class="sale-image" />
						    </figure>
    						<div class="sale-badge-personal"></div>
    					</a>
					</article>
					<!--Here more article-->
    			</section>
			</section>
    		<!--新品 end-->
    		
    		<!--Ending soon-->
    		<section class="ending-soon additional-sales">
  				<header class="section-header">
  					<h1 class="section-title">Ending Soon</h1>
  				</header>
  				
  				<article class="sale has-brand-favorites" data-gilt-sale-id="1021914030">
    				<a class="sale-link" data-gilt-tracking="true" href="/sale/women/tbd-theme-4514" >
    					<header class="sale-header">
        					<h1 class="sale-name h1 highlight">
            					<span class="name">Seasonal Transition: Satchels, Totes &amp; More</span>
        					</h1>
        					<h3 class="sale-time">Sale Ends <span class="tzchange" data-date-format="%i%p%N %z" data-gilt-date="Thu, 15 Aug 2013 04:00:00 +0000"></span></h3>
    					</header>
					    <figure class="sale-image-container">
					        <img src="http://cdn1.giltcdn.com/images/share/uploads/0000/0003/0077/300778458/orig.jpg" alt="" class="sale-image" />
					    </figure>
    				</a>
				</article>

  				<article class="sale " data-gilt-sale-id="1019983411">
    				<a class="sale-link" data-gilt-tracking="true" href="/sale/women/nuface-3197" >
    					<header class="sale-header">
        					<h1 class="sale-name h1 highlight">
            					<span class="name">NuFace: Facial Toning Device</span>
        					</h1>
        					<h3 class="sale-time">Sale Ends <span class="tzchange" data-date-format="%i%p%N %z" data-gilt-date="Thu, 15 Aug 2013 04:00:00 +0000"></span></h3>
    					</header>
					    <figure class="sale-image-container">
					        <img src="http://cdn2.giltcdn.com/images/share/uploads/0000/0003/0054/300540417/orig.jpg" alt="" class="sale-image" />
					    </figure>
    				</a>
				</article>
			</section>
			<!--Ending soon end-->
    
    		<section class="sales-calendar-block">
    			<div class="sales-calendar-wrapper">
    				<div class="sales-calendar-container">
	        			<header class="section-header"><h1 class="section-title">Starting Tomorrow</h1></header>
	        
	       			 	<section class="sales-calendar renewal-carousel">
	       			 	
	            			<article class="sale " data-gilt-sale-id="1021141545">
	    						<a class="sale-link" data-gilt-tracking="true" href="/sale/women/giulietta" >
	    							<header class="sale-header">
								        <h1 class="sale-name h1 highlight">
								            <span class="name">Giulietta</span>
								        </h1>
	        							<h3 class="sale-time">Sale Starts <span class="tzchange" data-date-format="%i%p%N %z" data-gilt-date="Thu, 15 Aug 2013 16:00:00 +0000"></span></h3>
	    							</header>
								    <figure class="sale-image-container">
								        <img src="http://cdn2.giltcdn.com/images/share/uploads/0000/0003/0076/300765891/orig.jpg" alt="" class="sale-image" />
								    </figure>
	    						</a>
							</article>
	        			</section>
	    				<button class="carousel-control carousel-control-next"></button>
	    				<button class="carousel-control carousel-control-previous"></button>
	    				<div class="carousel-pagination"></div>
    				</div>
    			</div>
			</section>
		</section>
		
		#parse("front/footer.vm")
  </body>
</html>
