#set(${JQUERY} = "$.")
<!DOCTYPE html>

<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="web-product-detail"> <!--<![endif]-->
	<head>
    	<meta charset="utf-8">
    	<!-- Ride the edge -->
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	<meta http-equiv="imagetoolbar" content="no">

    	<script>
      		server_clock_delta = (new Date()).getTime() - (window.performance ? window.performance.timing.responseStart : 1376580687338);
    	</script>

    	<meta name="username" content="1002220702arxmx7ta2w" />

    	<!-- Apple Smart App banner tag for iPad -->
    	<meta name="apple-itunes-app" content="app-id=363337072, affiliate-data=partnerId=30&siteID=OTlldGRU4uo">

    	<!-- Google Product Feed Verification -->
    	<meta name="google-site-verification" content="j3poyRgewEFdKoXOP3IpCYuNwnE_F7vWZ5y2PaeGAO4" />

    	<!-- Google Webmaster Tools Verification -->
    	<meta name="google-site-verification" content="J9UbJ_bwjF6uOUcY5ts9OwrhlstN11-VwBa2jneLykQ" />
    
    	<link rel="canonical" href="http://www.gilt.com/brand/fremont/product/173003179-fremont-double-layer-sport-shirt" />

    	<meta name="description" content="Fremont Double Layer Sport Shirt  Long sleeve woven double layer cotton button front sport shirt   Spread button down collar  Single button barrel cuffs  Curved shirt tail hem  Chest flap pockets  Covered button placket    Brand:  Fremont   Material:  100% Cotton   Origin:  Imported " />

    	<!-- Facebook Meta Tags -->
    	<meta property="fb:app_id" content="271483649617436"/>
    	<meta property="og:site_name" content="Gilt Groupe"/>
    	<meta property="og:title" content="Double Layer Sport Shirt by Fremont at Gilt"/>
    	<meta property="og:description" content="Fashion designers Brittany Pham and Devin Carlson named their men&rsquo;s clothing label Fremont Apparel Company in honor of Las Vegas&rsquo; legendary Fremont Street: the place where U2 shot their video for &ldquo;I Still Haven&rsquo;t Found What I&rsquo;m Looking For,&rdquo; and where Rat Packers used to hang (the original Pack, with Frank, Dean and Sammy). Based in Los Angeles, Fremont Apparel has perfected the casual-cool look &mdash; think understated, rolled-up baggy pants and shorts, oversize cardigan sweaters, washed out t-shirts, and sporty zip-up jackets in printed leather or corduroy. With so many classic styles to choose from, you&rsquo;ll definitely find what you&rsquo;re looking for."/>
    	<meta property="og:image" content="http://cdn5.giltcdn.com/images/share/uploads/0000/0002/0153/201530910/lg.jpg"/>

    	<meta property="og:url" content="http://www.gilt.com/brand/fremont/product/173003179-fremont-double-layer-sport-shirt" />

    	<meta property="og:type" content="giltgroupe:product" />
    
    	<title>TODO</title>
      
        <link rel="shortcut icon" type="image/png" href="/assets/front/images/favicon.ico">
          
        <link rel="stylesheet" media="screen" href="/assets/front/css/detail.main.min.css">
          
        <script src="/assets/front/js/modernizr.js"></script>
      
      	<!--[if !(IE 7)]><!-->
			<script>
			  	(function () {
			    	var
			      		head = document.getElementsByTagName('head')[0],
			      		scriptTag = document.createElement('script');
			
			    		scriptTag.src = '//cdn.optimizely.com/js/37462882.js';
			    		scriptTag.async = true,
			    		scriptTag.defer = true;
			
			    	head.parentNode.insertBefore(scriptTag, head);
			  	}());
			
			  	(function () {
				     setTimeout(function() {
				      window.optimizely = window.optimizely || [];
				      if (!window.optimizely.data) {
				        window.optimizely.push("disable");
				      }
				    }, 3000);
			  	}());
			</script>
		<!--<![endif]-->
  	</head>
  	
  	<body class="men  logged-in ">
  
    	<script src="/assets/front/js/browser_detect.js"></script>

    	<div id="fb-root"></div>

    	<div class="page-container">
			#parse("front/header.vm")
     		#parse("front/announcement.vm")

			<!--detail header-->
      		<section class="details-header">
  				<input id="product-id" type="hidden" value="148555467">
  				<section class="product-detail-head">
  				
  					<section class="page-head-top">
						<div id="breadcrumbs" class="breadcrumbs">
      						<ul class="breadcrumb-list" data-gilt-test="text-breadcrumbs">
    							<li class="breadcrumb with-link">
          							<a class="breadcrumb-link" href="/sale/men" title="MEN">MEN</a> /
        						</li>
      
    							<li class="breadcrumb with-link">
          							<a class="breadcrumb-link" href="/sale/men/reyn-spooner-8628#look-173003179" title="Button-Downs: Up to 80% Off">Button-Downs: Up to 80% Off</a> /
        						</li>
    
						        <li class="breadcrumb">
						          	<span class="product">Double Layer Sport Shirt</span>
						        </li>
      						</ul>
    					</div>

						<div class="sale-countdown">
      						<div class="sale-countdown-icon"></div>
						    <span class="sale-countdown-label strong"></span>
						    <span class="sale-countdown-interval" data-gilt-test="text-sale-ends"></span>
    					</div><!-- / .sale-countdown -->
  					</section>

				  	<h1 class="product-detail-title" data-gilt-test="text-sale-name">
				    	Button-Downs: Up to 80% Off
				  	</h1>
				</section>
			</section>
			<!--detail header end-->

			<section id="details" class="details">
  				<section id="photos" class="photos">
  					<input id="product-look-id" type="hidden" value="173003179">
			    	<div class="image-switcher" data-zoom-src="//cdn5.giltcdn.com/images/share/uploads/0000/0002/0153/201530910/lg.jpg">
			      		<div>
			        		<img src="//cdn5.giltcdn.com/images/share/uploads/0000/0002/0153/201530910/420x560.jpg" alt="Double Layer Sport Shirt">
			      		</div>
			    	</div>
    				<div class="hover-icon"></div>
    				<p class="instructions">Hover over image to zoom</p>
				    <ul class="photo-selection">
				      	<li class="thumbnail">
				          	<img src="//cdn5.giltcdn.com/images/share/uploads/0000/0002/0153/201530910/95x126.jpg">
				        </li>
				      	<li class="thumbnail">
				          	<img src="//cdn6.giltcdn.com/images/share/uploads/0000/0002/0153/201530909/95x126.jpg">
				        </li>
				      	<li class="thumbnail">
				          	<img src="//cdn6.giltcdn.com/images/share/uploads/0000/0002/0153/201530911/95x126.jpg">
				        </li>
				    </ul>
				</section>

  				<section class="summary">
    				<header class="overview summary-section">
				  		<hgroup>
				    		<h2 class="brand-name">
				    			<a href="/brand/fremont" title="Fremont" class="brand-name-text" data-gilt-test="text-favorite-brand">Fremont</a>
							      	<div id="brand-favorite" class="brand-favorite tyranttip-trigger" data-brand-id="17300845" data-store-key="men">
							        	<button id="favorite-button" class="favorite-star-button" data-gilt-test="link-favorite-brand"></button>
							        	<div class="brand-message-tooltip tyranttip top information add-to tyranttip-skip-placement">Add Brand to Favorites</div>
							        	<div class="brand-message-tooltip tyranttip top information remove-from tyranttip-skip-placement">Remove Brand to Favorites</div>
							        	<div class="brand-message-tooltip tyranttip top no-hover notification tyranttip-skip-placement"></div>
							      	</div><!-- / brand-favorite -->
				    		</h2><!-- / .brand-name -->
				    		<h1 class="product-name">Double Layer Sport Shirt</h1>
				  		</hgroup>

						<section id="price" class="price">
						    <div class="sale-price">
						      	<span class="price-emphasis" data-gilt-test="text-pdp-price">¥667.15</span> Gilt
						      	<span class="price-includes">(incl. Duties and VAT)</span>
						    </div>
						    <div class="original-price">
						      	<span class="msrp">¥1,791.13</span>
						    </div>
    
  						</section> <!-- /.price -->
					</header><!-- /.overview -->

    				<section id="sku-selection" class="sku-selection summary-section">
  						<div class="sku-quantity">
    						<label for="quantity">Quantity:</label>
						    <select id="sku-quantity" class="quantity" name="quantity" data-gilt-test="select-item-quantity">
						      	<option value="1">1</option>
						      	<option value="2">2</option>
						      	<option value="3">3</option>
						      	<option value="4">4</option>
						      	<option value="5">5</option>
						      	<option value="6">6</option>
						    </select>
  						</div>

						<div class="actions">
						  	<button id="add-to-cart" class="add-to-cart for_sale" data-gilt-test="button-add-to-cart">Add to Cart</button>
						  	<button id="waitlist" class="waitlist" data-gilt-test="button-waitlist">Add to Waitlist</button>
							<div class="tyranttip tyranttip-skip-placement select-size-warning add-to-cart-warning">
							    Please select an available size.
							</div>
						  	<div class="tyranttip tyranttip-skip-placement select-size-warning waitlist-warning">
						    	Please select a size.
						  	</div>
						</div>

						<input id="sale-id" type="hidden" value="1018068948">

					</section>

    				<section class="fulfillment summary-section">
					  	<div class="estimated-delivery" data-gilt-test="text-delivery-estimate">
					    	<strong class="title">Estimated Delivery:</strong>
					    	<time class="delivery-min">Fri 08/23/13</time>
					    	to
					    	<time class="delivery-min">Sat 08/31/13</time>
					  	</div>
					  	<div class="return-policy" data-gilt-test="text-return-policy">
					    	<strong class="title">Return Policy:</strong>
					    	Gilt currently doesn't support returns from China
					  	</div>
					</section><!-- / .fulfillment -->
	
					<!--分享-->
    				<section class="sharing">
      					<!-- .sharing -->
      					<!-- AddThis Button BEGIN -->
				      	<dl class="addthis_toolbox addthis_default_style">
					        <dt>
					          	<strong class="title">Share:</strong>
					          	Use these links to share Gilt and get $25 after each new friend's first order ships
					        </dt>
					        <dd class="share share-email">
					          	<a href="#" class="email-a-friend-button button secondary" title="Email a friend" data-gilt-test="link-email">
					            	<span class="share-email-icon"></span>
					            	Email
					          	</a>
					        </dd>
					        <dd class="share">
					        	<a class="addthis_button_facebook_like" addthis:url="http://www.gilt.com/brand/fremont/product/173003179-fremont-double-layer-sport-shirt?utm_medium=referral&amp;utm_source=facebook.com&amp;utm_campaign=site&amp;utm_content=social&amp;pil_guid=fcaf7b1b-a72e-448f-9fe6-8942f081f90b" data-gilt-test="facebook_like"></a>
					        </dd>
				        	<dd class="share">
				            	<a class="addthis_button_tweet" addthis:url="http://www.gilt.com/brand/fremont/product/173003179-fremont-double-layer-sport-shirt?utm_medium=referral&amp;utm_source=twitter.com&amp;utm_campaign=site&amp;utm_content=social&amp;pil_guid=fcaf7b1b-a72e-448f-9fe6-8942f081f90b" data-gilt-test="tweet"></a>
				          	</dd>
				        	<dd class="share">
				            	<a class="addthis_button_pinterest_share" addthis:url="http://www.gilt.com/brand/fremont/product/173003179-fremont-double-layer-sport-shirt?utm_medium=referral&amp;utm_source=pinterest.com&amp;utm_campaign=site&amp;utm_content=social&amp;pil_guid=fcaf7b1b-a72e-448f-9fe6-8942f081f90b" data-gilt-test="pinterest_share"></a>
				          	</dd>
				        	<dd class="share">
				            	<a class="addthis_button_sinaweibo" addthis:url="http://www.gilt.com/brand/fremont/product/173003179-fremont-double-layer-sport-shirt?utm_medium=referral&amp;utm_source=weibo.com&amp;utm_campaign=site&amp;utm_content=social&amp;pil_guid=fcaf7b1b-a72e-448f-9fe6-8942f081f90b" data-gilt-test="sinaweibo"></a>
				          	</dd>
				        	<dd class="share">
				            	<a class="addthis_button_qzone" addthis:url="http://www.gilt.com/brand/fremont/product/173003179-fremont-double-layer-sport-shirt?utm_medium=referral&amp;utm_source=qzone.com&amp;utm_campaign=site&amp;utm_content=social&amp;pil_guid=fcaf7b1b-a72e-448f-9fe6-8942f081f90b" data-gilt-test="qzone"></a>
				          	</dd>
				      	</dl>
					    <script type="text/javascript">
					    	var addthis_config = {services_custom: {
						    	name: "my.ya.ru",
						        url: "http://my.ya.ru/posts_add_link.xml?URL={{url}}&title={{title}}&body=",
						        icon: "http://www.psyclass.ru/images/yaru.png"
						    }}
					    </script>
      					<!-- AddThis Button END -->
      					<!-- / .sharing -->
      				</section>
  					<!--分享 end-->
  					
    				<section id="description" class="description loading">
						<section class="tabs">
					    	<div class="tab" data-type="description" data-gilt-test="link-pdp-description">Description</div>
					    	<div class="tab" data-type="at-a-glance" data-gilt-test="link-pdp-at-a-glance">At a Glance</div>
					    	<div class="tab" data-type="designer-info" data-gilt-test="link-pdp-designer-info">Designer</div>
						</section>

  						<section class="content-container">
    						<section class="tab-content" data-gilt-test="text-pdp-description">
    							<p>Long sleeve woven double layer cotton button front sport shirt</p>
								<ul>
									<li>Spread button down collar</li>
									<li>Single button barrel cuffs</li>
									<li>Curved shirt tail hem</li>
									<li>Chest flap pockets</li>
									<li>Covered button placket</li>
								</ul>

								<p><strong>Brand:</strong> Fremont</p>
								<p><strong>Material:</strong> 100% Cotton</p>
								<p><strong>Origin:</strong> Imported</p>
							</section>
						
	    					<section class="tab-content" data-gilt-test="text-pdp-at-a-glance">
	    						<p>Upgrade your arsenal with this collection of button-downs from some of our favorite brands. Whether you're looking for a rugged workshirt, a striped oxford, or a crisp dress shirt, you'll find all that and more, here.</p>
							</section>
	    					<section class="tab-content" data-gilt-test="text-pdp-designer-info">
	    						<p>Fashion designers Brittany Pham and Devin Carlson named their men’s clothing label Fremont Apparel Company in honor of Las Vegas’ legendary Fremont Street: the place where U2 shot their video for “I Still Haven’t Found What I’m Looking For,” and where Rat Packers used to hang (the original Pack, with Frank, Dean and Sammy). Based in Los Angeles, Fremont Apparel has perfected the casual-cool look — think understated, rolled-up baggy pants and shorts, oversize cardigan sweaters, washed out t-shirts, and sporty zip-up jackets in printed leather or corduroy. With so many classic styles to choose from, you’ll definitely find what you’re looking for.</p>
							</section>
  						</section><!-- / .content-container -->
					</section><!-- / .description -->
  				</section><!-- / .summary -->
			</section><!-- / .details -->

			<!--recommend-->
			<section class="recommendations-frame">
	  			<section id="recommendations" class="recommendations"></section>
			</section><!-- / .recommendations -->
      	
      		#parse("front/footer.vm")
	</body>
</html>